/* Colors
modal-background-color: #EDEFF0;
*/

.App {
  position: relative;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 7px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 7px;
}

h1, h2 {
  letter-spacing: 1px;
  color: black;
}

p {
  font-size: 16px;
  margin: 7px;
  color: black;
}

.modal__modal-screen {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
}

.modal__modal {
  background-color: #EDEFF0;
  border-radius: 4px;
  width: 80%;
  margin: auto;
  max-width: 700px;
  min-width: 450px;
  margin-top:40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-family: sans-serif;
}

.modal__left {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: stretch;
  width: 70%;
}

.modal__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px;
}

.modal__box {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin: 10px;
}

.modal__little-box {
  width: 100%;
}

.modal__title-input {
  display: flex;
}
.modal__title-input > input {
  font-size: 20px;
  letter-spacing: 1px;
}

.title-icon, .descr-icon {
  margin: 7px;
}

.modal__editing {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

textarea {
  width: 100%;
  height: 100px;
  cursor: pointer;
  resize: none;
  border-radius: 4px;
  border: 0px;
  box-shadow: inset 0px 0px 5px 1px gray;
  background-color: rgb(228, 228, 228);
  text-align: left;
  padding: 10px;
  margin: 7px;
}

.modal__description{
  display: flex;
  align-items: center;
}

.modal__btn {
  background-color: rgb(235, 92, 92);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 2px gray;
  border: 0px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  padding: 7px;
}
.modal__btn:hover {
  background-color: rgb(225, 28, 28);
}

.modal__save-btn {
  background-color: rgb(41, 245, 41);
  margin: 7px;
}
.modal__save-btn:hover {
  background-color: rgb(11, 209, 11);
}

.modal__text-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(117, 117, 117);
  cursor: pointer;
}
.modal__text-btn:hover {
  color: black;
}