/* colors */

@header:          #0067A3;
@board-default:   #0079BF;
@list-gray:       #E2E4E6;
@white:           #FFFFFF;
@list-gray-hover: #EDEFF0;
@new-card-hover:  #CDD2D4;
@delete-button:   #CF513D;