.new-board {
  position: absolute;
  right: 0;
  color: #fff;
  padding: 20px;
  top: 40px;
  background: #333;
}

.new-board > * {
  display: block;
}

.new-board > input {
  height: 1.5rem;
  border: 0;
}

.new-board p {
  color: #fff;
  margin: 10px 0;
}

.new-board button {
  background: hsla(0, 0%, 100%, 0.3);
  border-radius: 3px;
  margin: 10px 5px;
  padding: 10px 15px;
  border: none;
}
