.listBody{
    background-color: rgb(211, 211, 211);
    padding: 6px;
    width: 240px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
}
.listTitle{
    font-weight: bold;
    font-size: 15px;
}
.newList{
    opacity: .3;
}

.newList:hover{
    opacity: 1;
}
