.icon {
  height: 18px;
  width: 20px;
}

/*********
TITLE ICON
**********/
.title-icon {
  background-color: darkGray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.icon .screen {
  background-color: #EDEFF0;
  margin: 2px;
  height: 9px;
  width: 16px;
  border-radius: 2px;
}

.icon .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon .seg {
  background-color: #EDEFF0;
  height: 2px;
  width: 12px;
  border-radius: 1px;
  margin-right: 2px;
}

.icon .dot {
  background-color: #EDEFF0;
  height: 2px;
  width: 2px;
  border-radius: 1px;
}


/***************
DESCRIPTION ICON
****************/
.descr-icon {
  background-color: #EDEFF0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.icon .line {
  background-color: darkgray;
  height: 2px;
  border-radius: 1px;
}

.icon .long {
  width: 20px;
}

.icon .short {
  width: 12px;
}


/**********
PERSON ICON
***********/
.person-icon {
  background-color: white;
}

.icon .head {
  background-color: white;
  height: 4px;
  width: 4px;
  margin-left: 6px;
  border-radius: 4px;
  border: 2px solid darkgray;
}

.icon .body {
  background-color: white;
  height: 8px;
  width: 8px;
  margin-top: -2px;
  margin-left: 4px;
  border-radius: 8px;
  border: 2px solid darkgray;
}

.icon .body::after {
  content: "";
  display: block;
  margin-top: 4px;
  margin-left: -2px;
  background-color: white;
  height: 4px;
  width: 12px;
  border-top: 2px solid darkgray;
}

/***********
* CancelIcon
***********/
.cancel-icon {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cancel-icon:hover {
  filter: brightness(70%);
}

.cancel-icon > .one {
  margin: -2px;
  transform: rotate(45deg);
}

.cancel-icon > .two {
  transform: rotate(-45deg);
}