.header {
  background: rgba(0, 0, 0, 0.25);
  height: 32px;
  position: fixed;
  overflow: hidden;
  padding: 4px;
  z-index: 10;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
}

.header button {
  background: hsla(0, 0%, 100%, 0.3);
  border-radius: 3px;
}

.header__home-btn {
  border-radius: 3px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: hsla(0, 0%, 100%, 0.3);
}

.header__home-btn img {
  margin: 0 10px;
}

.header__home-icon {
  height: 20px;
  width: auto;
}

.header__boards-btn {
  border: none;
  background: 0;
  color: #fff;
  margin-right: 5px;
}

.header__logo {
  justify-content: center;
  margin: auto;
  color: #fff;
}

.header__create-board-btn {
  margin: 0 5px;
  padding: 0 10px;
  border: none;
  background: 0;
}

.header__create-board-btn > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__create-board-btn span {
  color: #fff;
  margin-left: 10px;
}

.header__plus-icon {
  height: 15px;
  width: auto;
}

.header__current-user {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__current-user a {
  font-size: 0.8rem;
  font-weight: 600;
}
