.boardBackground {
    background-color: #298FCA;
    height: 100vh;
    width: 100%;
    position: relative;
    flex-grow: 1;
    display: block;
}

.boardSubHeader{
    padding-top: 40px;
    background-color: rgb(54, 144, 189);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listsContainer{
    margin-top: 32px;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}

.boardTitle {
    float: left;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
}
.boardTitle:hover {
    background-color: rgba(44, 44, 44, 0.445);
    cursor: pointer;
}

.edit-board-name {
    margin: 20px;
    display: flex;
}
.edit-board-name > input {
    font-size: 18px;
    letter-spacing: 1px;
    width: 30%;
}

.new-list-modal {
    background-color: rgb(211, 211, 211);
    padding: 6px;
    width: 240px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
}

.btn-box {
    display: flex;
    margin-top: 5px;
}

.new-list-modal input {
    width: 97%;
    height: 24px;
}

.board-delete-button {
  background: #dc3545;
  border-radius: 3px;
  margin: 0 5px;
  padding: 10px;
  border: none;
  color: #fff;
}

.board-delete-button:hover {
  filter: brightness(85%); 
}